<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mentalhealth">

    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.USE_BIOMETRIC" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Mentalhealth">
        <activity
            android:name=".Login_SignUp.Splash"
            android:theme="@style/Theme.MaterialComponents.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".diary.AddActivity"
            android:theme="@style/MyTheme" />

        <activity
            android:name=".fragments.ProfileFragment"
            android:theme="@style/Theme.MaterialComponents.Light.NoActionBar" />

        <activity android:name=".diary.DiaryActivity" />

        <activity
            android:name=".well_bieng_guide.Well_Being_Activity"
            android:theme="@style/Theme.MaterialComponents.NoActionBar" />
        <activity
            android:name=".chatbot.ChatActivity"
            android:theme="@style/Theme.MaterialComponents.NoActionBar" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity
            android:name=".Recommended_Activities.play_activity"
            android:theme="@style/Theme.MaterialComponents.NoActionBar" />
        <activity
            android:name=".Recommended_Activities.play_activity2"
            android:theme="@style/Theme.MaterialComponents.NoActionBar" />

        <activity
            android:name=".well_bieng_guide.Resilience.Activity.RES_START"
            android:theme="@style/Theme.MaterialComponents.Light.NoActionBar" />

        <activity
            android:name=".well_bieng_guide.Loneliness.Activity.Loneliness_Start"
            android:theme="@style/Theme.MaterialComponents.Light.NoActionBar" />

        <activity
            android:name=".well_bieng_guide.Anxiety.Activity.Anxiety_START"
            android:theme="@style/Theme.MaterialComponents.Light.NoActionBar" />

        <activity
            android:name=".well_bieng_guide.SelfLove.Activity.Selflove_START"
            android:theme="@style/Theme.MaterialComponents.Light.NoActionBar" />
        <activity
            android:name=".well_bieng_guide.start.Start"
            android:theme="@style/Theme.MaterialComponents.Light.NoActionBar" />

        <activity
            android:name=".well_bieng_guide.start.Bullets"
            android:theme="@style/Theme.MaterialComponents.Light.NoActionBar" />
        <activity
            android:name=".well_bieng_guide.start.Para"
            android:theme="@style/Theme.MaterialComponents.Light.NoActionBar" />
        <activity
            android:name=".well_bieng_guide.start.WriteSomething"
            android:theme="@style/Theme.MaterialComponents.Light.NoActionBar" />

        <activity
            android:name=".well_bieng_guide.start.suggestions"
            android:theme="@style/Theme.MaterialComponents.Light.NoActionBar" />
        <activity
            android:name=".well_bieng_guide.start.nutshell"
            android:theme="@style/Theme.MaterialComponents.Light.NoActionBar" />

        <activity
            android:name=".well_bieng_guide.start.Whatwritten"
            android:theme="@style/Theme.MaterialComponents.Light.NoActionBar" />
        <activity
            android:name=".well_bieng_guide.start.rate_activity"
            android:theme="@style/Theme.MaterialComponents.Light.NoActionBar" />

        <activity
            android:name=".well_bieng_guide.start.drag_list"
            android:theme="@style/Theme.MaterialComponents.Light.NoActionBar" />
        <activity
            android:name=".well_bieng_guide.start.drag_select"
            android:theme="@style/Theme.MaterialComponents.Light.NoActionBar" />
        <activity
            android:name=".Login_SignUp.LoginActivity"
            android:theme="@style/Theme.MaterialComponents.Light.NoActionBar" />

        <activity
            android:name=".Login_SignUp.OnBoardingScreen"
            android:theme="@style/Theme.MaterialComponents.Light.NoActionBar" />

        <activity
            android:name=".Login_SignUp.SignUp"
            android:theme="@style/Theme.MaterialComponents.Light.NoActionBar" />

        <activity
            android:name=".MainActivity"
            android:theme="@style/MyTheme" />

        <activity android:name=".Reminders.Reminder"
            android:theme="@style/Theme.MaterialComponents.Light.NoActionBar"/>
        <activity android:name=".Reminders.AddReminderActivity"
            android:theme="@style/Theme.MaterialComponents.Light.NoActionBar"/>

        <provider
            android:name=".Reminders.data.AlarmReminderProvider"
            android:authorities="com.mentalhealth.alarmreminder"
            android:exported="false" />

        <service
            android:name=".Reminders.reminder.ReminderAlarmService"
            android:exported="false" />

    </application>



</manifest>